@import uk.gov.hmrc.personaldetailsvalidation.endpoints.routes
@import uk.gov.hmrc.personaldetailsvalidation.model.CompletionUrl
@import uk.gov.hmrc.personaldetailsvalidation.views.html.pages.incorrect_details_accordion
@import uk.gov.hmrc.views.ViewConfig
@import uk.gov.hmrc.views.html.partials._
@import uk.gov.hmrc.views.html.template.layout

@this(
    main: layout,
    accordion: incorrect_details_accordion,
    h1: h1,
    p: Paragraph,
    a: link,
    ul: ul,
    btn: button
)


@(completionUrl: CompletionUrl, attempt: Int)(implicit request: Request[_], viewConfig: ViewConfig, msgs: Messages)

@origin = @{request.session.get("origin").getOrElse("")}
@attemptsRemaining = @{viewConfig.retryLimit - attempt}
@lockoutPeriodEn = @{viewConfig.lockoutPeriodEn}
@lockoutPeriodCy = @{viewConfig.lockoutPeriodCy}
@failedAttemptsMax = @{viewConfig.failedAttemptsMax}
@isSA = @{(origin == "bta-sa" || origin == "pta-sa" || origin == "ssttp-sa")}

@main(title = msgs("multi_option_incorrect_details.h1"), hideDeskpro = true){
    @h1("multi_option_incorrect_details.h1")
    @p(msgs("multi_option_incorrect_details.p1"))
    @if(attempt < failedAttemptsMax){
        @p(msgs("multi_option_incorrect_details.p2"))
        @p(msgs("multi_option_incorrect_details.p3"))
        @accordion()
    }
    @if(attemptsRemaining == 1) {
        @if(isSA){
            @p(htmlContent = Html(msgs("multi_option_incorrect_details.p4.last.sa", s"${viewConfig.addTaxesFrontendBaseUrl}/business-account/add-tax/self-assessment/try-pin-in-post?origin=$origin")))
        } else {
            @p(msgs("multi_option_incorrect_details.p4.last"))
        }
        @p(msgs("multi_option_incorrect_details.final-attempt", if(msgs.lang.code == "en")lockoutPeriodEn else lockoutPeriodCy))
    } else {
        @if(isSA) {
            @p(htmlContent = Html(msgs("multi_option_incorrect_details.p4.sa", attemptsRemaining, s"${viewConfig.addTaxesFrontendBaseUrl}/business-account/add-tax/self-assessment/try-pin-in-post?origin=$origin")))
        } else {
            @p(msgs("multi_option_incorrect_details.p4", attemptsRemaining))
        }
    }
    @a(key = "multi_option_incorrect_details.button",
        href = routes.PersonalDetailsCollectionController.enterYourDetails(completionUrl).url,
        // IV uses a retryAttempt, we could use something similar: href = routes.MultiOptionJourneyController.retryAttempt(Some("failed-attempt_retry")).url,
        classes = Some("govuk-button")
    )
}

