#error-summary-display:focus{
    outline: 3px solid #ffbf47;
}
@media (min-width: 641px) and (max-width: 768px) {
    .content__body {
        width: 100%;
    }
}
.form-date .form-group-day span {
    display: block;
}
.form-date .form-group-day {
    width: auto;
}

.form-date .form-group.form-group-day input {
    width: 50px;
}
