
.flash.error-summary {
    border: 5px solid #d4351c;
}

.flash.error-summary li {
    color: #d4351c;
    margin-bottom: 5px;
    font-weight: bold;
}

.govuk-error-summary_list a:link, .govuk-error-summarylist a:visited, .govuk-error-summarylist a:hover, .govuk-error-summary_list a:active {
    color: #d4351c;
}

.govuk-error-summary__list a, .js-error-summary-messages a, .form-field--error .error-notification, .form-field-group--error .error-notification {
    font-weight: 700;
}

.form-field-group--error, .form-field--error{
    border-left: 5px solid #d4351c;
}

@media (min-width: 641px) {

    .form-field--error .error-notification {
        font-size: 19px;
    }
}

.form-field-group--error, .form-field--error{
    border-left: 5px solid #d4351c;

    input[type=text], input[type=number] {
        border: 2px solid #d4351c;

        &:focus {
            border: 2px solid black;
            outline: 3px solid #fd0;
            outline-offset: 0;
            -webkit-box-shadow: inset 0 0 0 2px;
            box-shadow: inset 0 0 0 2px;
        }
    }
}

.input--medium:focus,
.input--small:focus {
    border: 2px solid black;
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

@media (min-width: 641px) and (max-width: 768px) {
    .content__body {
        width: 100%;
    }
}
.form-date .form-group-day span {
    display: block;
}
.form-date .form-group-day {
    width: auto;
}

.form-date .form-group.form-group-day input {
    width: 50px;
}

.form-hint, .heading-xlarge .heading-secondary {
    color: #505a5f; // For AAA color contrast
}

.error-notification, .flash.error-summary a, .flash.error-summary .link-style, .flash.error-summary .button--link-style {
    color: #d4351c;
}