#error-summary-display:focus{
    outline: none;
}
@media (min-width: 641px) and (max-width: 768px) {
    .content__body {
        width: 100%;
    }
}
.form-date .form-group-day span {
    display: block;
}
.form-date .form-group-day {
    width: auto;
}

.form-date .form-group.form-group-day input {
    width: 50px;
}
// =========================
// focus states
// changes made to bring in line with
// https://designnotes.blog.gov.uk/2019/07/29/weve-made-the-gov-uk-design-system-more-accessible/
// =========================

@import 'partials/_focus';
@import 'partials/_palette';