

@import uk.gov.hmrc.govukfrontend.views.html.components.GovukButton
@import uk.gov.hmrc.govukfrontend.views.Aliases.Text
@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukButton: GovukButton)

@(  msgKey: String = "continue.button.text",
    inputType: String = "submit",
    name: Option[String] = None,
    classes: String = "",
    value: Option[String] = None,
    attrs: Map[String, String] = Map("id" -> "submit-button"),
)(implicit messages: Messages)

@govukButton(
    Button(
        attributes = attrs,
        content = Text(messages(msgKey)),
        name = name,
        classes = classes,
        value = value,
        inputType = Some(inputType)
    )
)

